<div class="modal" id="monsterModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Welcome!</h3>
  </div>
  <div class="modal-body">
    <p>Scroll over the monster to pick your body. Select your parts, drag them, scale them and create your very own
      monster!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>

<div class="row monster-making">
  <div class="col-sm-2">
    <div id="drag-1" class="resize-container draggable">
      <%= image_tag src='puppetBits/eyelids1.png', :class => "resize-drag" %>
    </div>
    <div id="drag-2" class="resize-container draggable">
      <%= image_tag src='puppetBits/eyes2.png', :class => "resize-drag" %>
    </div>
    <div id="drag-3" class="resize-container draggable">
      <%= image_tag src='puppetBits/eyes1.png', :class => "resize-drag" %>
    </div>
    <div id="drag-13" class="resize-container draggable">
      <%= image_tag src='puppetBits/horns2.png', :class => "resize-drag" %>
    </div>
    <div id="drag-12" class="resize-container draggable">
      <%= image_tag src='puppetBits/horns1.png', :class => "resize-drag" %>
    </div>
    <div id="drag-11" class="resize-container draggable">
      <%= image_tag src='puppetBits/hair1.png', :class => "resize-drag" %>
    </div>
  </div>
  <div class="col-sm-2">
    <div id="drag-9" class="resize-container draggable">
      <%= image_tag src='puppetBits/beard1.png', :class => "resize-drag" %>
    </div>
    <div id="drag-5" class="resize-container draggable">
      <%= image_tag src='puppetBits/mouth1.png', :class => "resize-drag" %>
    </div>
    <div id="drag-6" class="resize-container draggable">
      <%= image_tag src='puppetBits/mouth2.png', :class => "resize-drag" %>
    </div>
    <div id="drag-7" class="resize-container draggable">
      <%= image_tag src='puppetBits/mouth3.png', :class => "resize-drag" %>
    </div>
    <div id="drag-10" class="resize-container draggable">
      <%= image_tag src='puppetBits/clothes1.png', :class => "resize-drag" %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="monster">
      <%= image_tag src='puppetBits/body.png', :class => 'monsterBody'%>
      <div class="break"></div>
      <%= image_tag src='puppetBits/body2.png', :class => 'monsterBody'%>
      <div class="break"></div>
      <%= image_tag src='puppetBits/body3.png', :class => 'monsterBody'%>
    </div>
  </div>
  <div class="col-sm-2">
    <div id="drag-14" class="resize-container draggable">
      <%= image_tag src='puppetBits/mustache1.png', :class => "resize-drag" %>
    </div>
    <div id="drag-15" class="resize-container draggable">
      <%= image_tag src='puppetBits/mustache2.png', :class => "resize-drag" %>
    </div>
    <div id="drag-16" class="resize-container draggable">
      <%= image_tag src='puppetBits/bowtie1.png', :class => "resize-drag" %>
    </div>
    <div id="drag-4" class="resize-container draggable">
      <%= image_tag src='puppetBits/glasses1.png', :class => "resize-drag" %>
    </div>
    <div id="drag-4" class="resize-container draggable">
      <%= image_tag src='puppetBits/glasses2.png', :class => "resize-drag" %>
    </div>
    <div id="drag-8" class="resize-container draggable">
      <%= image_tag src='puppetBits/nose1.png', :class => "resize-drag nose" %>
    </div>
  </div>
</div>