<div class="parallax1">
  <p class="sr-only">Noah Ginex photo with Jameson, a large furry monster puppet. </p>
</div>
<div class="skew2"></div>
<div class="content-container post-div">
  <% if @about_first %>
      <h2><%= @about_first.title %></h2>
      <div class="content-container">
        <% if current_user %>
            <%= link_to 'Edit Text', edit_post_path(@about_first.id), class: 'btn btn-success' %>
        <% end %>
        <p><%= markdown(@about_first.body) %></p>
      </div>
  <% else %>
      <p>Coming Soon!</p>
      <% if current_user %>
        <%= link_to "New Post", new_post_path, class: 'btn btn-success' %>
      <% end %>
  <% end %>
</div>
<div class="skew"></div>
<div class="parallax2">
  <p class="sr-only">SNORF (a kid friendly puppet show) logo in green and purple, monster and pig puppet popping out of the center. </p>
</div>
<div class="skew"></div>
<div class="content-container">
  <% if @about_second %>
      <h2><%= @about_second.title %></h2>
      <div class="content-container">
        <% if current_user %>
            <%= link_to 'Edit Text', edit_post_path(@about_second.id), class: 'btn btn-success' %>
        <% end %>
        <p><%= markdown(@about_second.body) %></p>
      </div>
  <% else %>
      <p>Coming Soon!</p>
      <% if current_user %>
          <%= link_to "New Post", new_post_path, class: 'btn btn-success' %>
      <% end %>
<% end %>
</div>
<div class="skew2"></div>
<div class="parallax3">
  <p class="sr-only">Custom puppets built by Noah Ginex for a theatre production. Three puppets surrounding a sick girl with a hot
  water bottle on her head and a thermometer in her mouth.</p>
</div>
