<div class="row">
  <div class="col-sm-6">
    <div class="art-video">
      <%= video_tag ("Jameson3.mp4"), size: "400x400",
                    autoplay: true, loop: true, muted: true,
                    class: 'video', alt: 'video of drawing Jameson, a furry orange monster' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div>
      <% if @art %>
          <h2><%= @art.title %></h2>
          <% if current_user %>
            <%= link_to 'Edit Text', edit_post_path(@art.id), class: 'btn btn-success' %>
          <% end %>
          <p><%= markdown(@art.body) %></p>
          <%= link_to 'Hire Me', hire_path, class: 'btn btn-lg' %>
      <% else %>
          <p>Coming Soon!</p>
          <%= link_to 'Add Text', new_post_path, class: 'btn btn-success' %>
    <% end %>
    </div>
  </div>
</div>
<div class="skew"></div>
<%= render partial: 'charges/order' %>
<div class="projects-container">
  <% if @art_projects %>
      <% @art_projects.each do |project| %>
          <div class="art-sample">
            <%= image_tag project.image.url(:standard), class: 'square-preview', alt: project.title %>
            <div class="overlay">
              <div class="text">
              <p><%= project.title %></p>
                <% if current_user %>
                  <%= link_to "Delete Project", project, method: :delete, class: 'btn btn-danger',
                          data: { confirm: 'Are you sure you want to delete this project?' }  %>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
