<div class="row">
  <div class="col-sm-6">
    <div>
      <% if @event %>
          <h2><%= @event.title %></h2>
          <%= link_to 'Edit Text', edit_post_path(@event.id), class: 'btn btn-success' %>
          <p><%= markdown(@event.body) %></p>
          <%= link_to 'Hire Me', hire_path, class: 'btn btn-lg' %>
    <% else %>
          <p>Coming Soon!</p>
          <%= link_to 'Add Text', new_post_path, class: 'btn btn-success' %>
    <% end %>
    </div>
  </div>
  <div class="col-sm-6">

  </div>
</div>

<div class="skew"></div>
  <div class="projects-container">
  <% if @event_projects %>
      <% @event_projects.each do |project| %>
          <div class="facepaintingExamples">
            <div class="facepaintingImage">
              <%= image_tag project.image.url(:standard), alt: project.title  %>
            </div>
            <div class="facepaintingText">
              <p><%= project.title %></p>
              <%= link_to "Delete Project", project, method: :delete, class: 'btn btn-danger',
                          data: { confirm: 'Are you sure you want to delete this project?' }  %>
            </div>
          </div>

      <% end %>
  <% end %>
</div>