<div class="row">
  <div class="col-sm-6">
    <div class="content-container">
      <% if @face_painting %>
          <h2><%= @face_painting.title %></h2>
          <% if current_user %>
            <%= link_to 'Edit Text', edit_post_path(@face_painting.id), class: 'btn btn-success' %>
          <% end %>
          <p><%= markdown(@face_painting.body) %></p>
          <%= link_to 'Hire Me', hire_path, class: 'btn btn-lg' %>
    <% else %>
          <p>Coming Soon!</p>
          <%= link_to 'Add Text', new_post_path, class: 'btn btn-success' %>
    <% end %>
    </div>
  </div>
  <div class="col-sm-6">

  </div>
</div>

<div class="skew"></div>
  <div class="projects-container">
  <% if @face_painting_projects %>
      <% @face_painting_projects.each do |project| %>
          <div class="facepaintingExamples">
            <div class="facepaintingImage">
              <%= image_tag project.image.url(:standard) %>
            </div>
            <div class="facepaintingText">
              <p><%= project.title %></p>
              <% if current_user %>
                <%= link_to "Delete Project", project, method: :delete, class: 'btn btn-danger',
                          data: { confirm: 'Are you sure you want to delete this project?' }  %>
                <% end %>
            </div>
          </div>

      <% end %>
  <% end %>
</div>