<div class="row">
  <div class="col-sm-6">
    <div class="content-container">
      <% if @hire %>
          <h2><%= @hire.title %></h2>
          <% if current_user %>
            <%= link_to 'Edit Text', edit_post_path(@hire.id), class: 'btn btn-success' %>
          <% end %>
          <p><%= markdown(@hire.body) %></p>
      <% else %>
          <p>Coming Soon!</p>
          <% if current_user %>
            <%= link_to 'Add Text', new_post_path, class: 'btn btn-success' %>
          <% end %>
    <% end %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="content-container inquiry-form">
      <h2>Have a upcoming project? Need to ask a question?</h2>
      <%= render partial: 'inquiry' %>
    </div>
  </div>
</div>

<div class="skew"></div>
<%= render partial: 'whack_a_mole' %>

