<div class="row">
  <div class="col-sm-6">
    <div class="puppet-video">
      <%= video_tag ("Freddy3.mp4"), autoplay: true, loop: true, muted: true, class: 'video',
                    alt: 'Freddy, a small purple puppet making silly faces.' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div>
      <% if @puppets %>
          <h2><%= @puppets.title %></h2>
          <% if current_user %>
            <%= link_to 'Edit Text', edit_post_path(@puppets.id), class: 'btn btn-success' %>
          <% end %>
          <p><%= markdown(@puppets.body) %></p>
          <%= link_to 'Hire Me', hire_path, class: 'btn btn-lg' %>
    <% else %>
          <p>Coming Soon!</p>
          <%= link_to 'Add Text', new_post_path, class: 'btn btn-success' %>
    <% end %>
    </div>
  </div>
</div>

<div class="skew"></div>
<div class="projects-container">
  <% if @puppets_projects %>
      <% @puppets_projects.each do |project| %>
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <%= image_tag project.image.url(:standard), alt: project.title  %>
              </div>
              <div class="back">
                <p><%= project.title %></p>
                <% if current_user %>
                  <%= link_to "Delete Project", project, method: :delete, class: 'btn btn-danger',
                            data: { confirm: 'Are you sure you want to delete this project?' }  %>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>
</div>

