<div class="row">
  <% Product.all.each do |product| %>
      <% if product.active %>
        <div class="col-sm-4 art-types-sale">
          <%= image_tag product.image.url(:standard), alt: product.description %>
          <p class="art-sale-text"><%= product.description %></p>
          <p><em>$<%=product.price%></em></p>
          <%= form_tag charges_path do %>
              <%= hidden_field_tag :price, (product.price * 100) %>
              <script class='stripe-button' src="https://checkout.stripe.com/checkout.js"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-amount= "<%= product.price * 100 %>"
                      data-name= "<%= product.description %>"
                      data-description="<%= product.description %>" >
              </script>
          <% end %>
        </div>
      <% end %>
  <% end %>
</div>