<!DOCTYPE html>
<html>
<head>
  <title>Noah</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <nav class="desktop-nav">
    <h1 class="mainHeader grow"><%= link_to 'Noah Ginex', root_path %></h1>
    <ul>
      <div class="link">
        <div class="box">
          <div class="hid-box">
            <%= image_tag src="jameson.png", class: 'nav-image'%>
          </div>
        </div>
        <li><%= link_to "About", about_path %></li>
      </div>
      <div class="link">
        <div class="box">
          <div class="hid-box">
            <%= image_tag src="edison.png", class: 'nav-image' %>
          </div>
        </div>
        <li><%= link_to "Puppets", puppets_path %></li>
      </div>
      <div class="link">
        <div class="box">
          <div class="hid-box">
            <%= image_tag src="freddie.png", class: 'nav-image' %>
          </div>
        </div>
        <li><%= link_to "Art", art_path %></li>
      </div>
      <div class="link">
        <div class="box">
          <div class="hid-box">
            <%= image_tag src="ron.png", class: 'nav-image' %>
          </div>
        </div>
        <li><%= link_to "Parties", face_painting_path %></li>
      </div>
      <div class="link">
        <div class="box">
          <div class="hid-box">
            <%= image_tag src="chef.png", class: 'nav-image'%>
          </div>
        </div>
        <li><%= link_to "Hire Me", hire_path %></li>
      </div>
    </ul>
  </nav>

  <div class="mobile-nav">
    <h1 class="mainHeader grow"><%= link_to 'Noah Ginex', root_path %></h1>
    <i class="ion-navicon-round" data-toggle="collapse" data-target="#mobile"></i>
    <div id="mobile" class="collapse">
      <ul class="mobile-menu">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Puppets", puppets_path %></li>
        <li><%= link_to "Art", art_path %></li>
        <li><%= link_to "Face Painting", face_painting_path %></li>
        <li><%= link_to "Hire Me", hire_path %></li>
      </ul>
    </div>
  </div>

  <% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div>
<% end %>
<div class="skew2"></div>
<%= yield %>
<div class="skew2"></div>
  <footer class="row">
    <div class="social col-sm-6">
      <p>Social</p>
      <a href="https://www.facebook.com/pages/The-Noah-Ginex-Puppet-Company/93832730848"><i class="ion-social-facebook"></i></a>
      <a href="https://www.youtube.com/channel/UCQyOj7rLcAUyO4QieYMzpag"><i class="ion-social-youtube"></i></a>
      <a href="https://twitter.com/JamesonJRalph"><i class="ion-social-twitter"></i></a>
    </div>
    <div class="contact col-sm-6">

    </div>
  </footer>
</body>
</html>
